<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Blabber</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href="css/blabber.css" rel="stylesheet">
    <div class="topNav">

        <a href="/"><img class="home" th:src="@{images/Babbler_White.png}"></a>
        <a href="/view" >Threads</a>
        <a href="/connect">Users</a>


        <div class="dropdown" th:if="${currentUser}">
            <button class="dropbtn" th:text="${currentUser}" th:size="20" >

            </button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="/about">About</a>
                <a href="#">Third thing</a>
                <a href ="#"onclick="location.href='/logout'">Logout</a>
            </div>
        </div>
        <div th:unless="${currentUser}">
            <b onclick="location.href='/signUp'">Sign Up</b>
            <b onclick="location.href='/signIn'">Sign In</b>
        </div>
    </div>
</head>
<body>
<div class="layer2">
</div>
</body>
</html>