<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Blabber</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href="css/blabber.css" rel="stylesheet">
    <div class="topNav">

        <a href="/"><img class="home" th:src="@{images/Babbler_White.png}"></a>
        <a href="/view">Threads</a>
        <a href="/connect">Users</a>
        <a href="/about" class="active">About</a>
        <div th:if="${currentUser}">
            <b style="color: white;" th:text="${currentUser}" th:size="20" onclick="location.href='/logout'"></b>
        </div>
        <div th:unless="${currentUser}">
            <b onclick="location.href='/signUp'">Sign Up</b>
            <b onclick="location.href='/signIn'">Sign In</b>
        </div>
    </div>
</head>
<body>
<div class="layer2">
</div>
</body>
</html>