<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Blabber</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href="css/blabber.css" rel="stylesheet">
<body>
<br>
<br>
<br>
<img class = "logo" th:src="@{images/Babbler_NoBack.png}">
<div class="context">
    <div style="text-align: center;">
        <div class = "layer2">
            <br>
            <br>
                <button onclick="location.href='/signIn'">Sign In</button>
            <br>
            <br>
            <br>
            <br>
            <br>
                <button onclick="location.href='/signUp'">Sign Up</button>
        </div>
    </div>
</div>
<div class="area" >
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div >
</body>
</html>
