<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Blabber</title>
<body>

<head>
    <link  href="css/blabber.css" rel="stylesheet">
    <div class="topNav">

        <a href="/"><img class="home" th:src="@{images/Babbler_White.png}"></a>
        <a href="/view">Threads</a>
        <a href="/connect">Users</a>
        <a href="/about">About</a>
        <b onclick="location.href='/signUp'">Sign Up</b>
        <b onclick="location.href='/signIn'">Sign In</b>
    </div>
</head>
<div style="text-align: center;">
    <div class = "layer2">
        <div class ="error">
        <h1 style="color: white; font-family: 'BN Machine'; font-size: 25px">Please Sign In Or Sign Up To Continue</h1>
        <button style= onclick="location.href='/signUp'">Sign Up</button>
        <button onclick="location.href='/signIn'">Sign In</button>
       </div>
    </div>
</div>
</body>
</html>