<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Blabber</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href="css/blabber.css" rel="stylesheet">
    <style>
        input[type=submit] {
            padding:0.6em 2em;
            border-radius: 6px;
            color:#ffff;
            background-color: #C20606;
            font-size:1.1em;
            border:0;
            cursor:pointer;
            margin:1em;
        }
    </style>
    <div class="topNav">

        <a href="/"><img class="home" th:src="@{images/Babbler_White.png}"></a>
        <a href="/view" >Threads</a>
        <a href="/connect">Users</a>


        <div class="dropdown" th:if="${currentUser}">
            <button class="dropbtn" th:text="${currentUser}" th:size="20" >

            </button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="/about">About</a>
                <a href="#">Third thing</a>
                <a href ="#"onclick="location.href='/logout'">Logout</a>
            </div>
        </div>
        <div th:unless="${currentUser}">
            <b onclick="location.href='/signUp'">Sign Up</b>
            <b onclick="location.href='/signIn'">Sign In</b>
        </div>
    </div>
</head>
<body>
<style>
    label {
        display:inline-block;
        width:80px;
        margin-left:30px;
        text-align:left;
    }
</style>

<div align="center"class="layer2">
    <br/>
    <div th:align="center" class="layer3">
        <img class = "logo" th:src="@{images/Babbler_NoBack.png}">
        <br>
        <br>
        <h1 style="color: white; font-family: 'BN Machine',serif; font-size: 55px">Sign In</h1>
        <br/>
        <br/>
        <form action="#" th:action="@{/SignIn}" method="post" th:object="${credentials}">
            <label style="color: white">Email:</label>
            <input style="border-radius: 15px; height: 25px; width: 200px; font-size: 16px; padding: 2px;
            border-color: black" id="email" type="email" th:field="*{email}" required/><br/>
            <br/>
            <label style="color: white">Password:</label>
            <input style="border-radius: 15px; height: 25px; width: 200px; font-size: 16px; padding: 2px;
            border-color: black" id="password" type="password" th:field="*{password}" required/><br/>
            <br/>
            <br/>
            <input type="submit" value="Sign In">
        </form>
    </div>
</div>
</body>
</html>