<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link  href="css/blabber.css" rel="stylesheet">


    <div class="topNav">

        <a href="/"><img class="home" th:src="@{images/Babbler_White.png}"></a>
        <a href="/view" class="active">Threads</a>
        <a href="/connect">Users</a>


        <div class="dropdown" th:if="${currentUser}">
            <button class="dropbtn" th:text="${currentUser}" th:size="20" >

            </button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="/about">About</a>
                <a href="#">Third thing</a>
                <a href ="#"onclick="location.href='/logout'">Logout</a>
            </div>
        </div>
        <div th:unless="${currentUser}">
            <b onclick="location.href='/signUp'">Sign Up</b>
            <b onclick="location.href='/signIn'">Sign In</b>
        </div>
    </div>
</head>
<body>

</body>
</html>