<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div align="right">
        <button type="button" onclick="location.href='/SignIn'" value="Submit">Sign In</button>
        <button type="button" onclick="location.href='/SignUp'" value="Submit">Sign Up</button>
    </div>
    <meta charset="UTF-8">
    <title>Conspiracy Theory Chat</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />

</head>
<div align="center">
    <h1>Conspiracy Theory Chat</h1>
</div>
<br>
<br>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<body bgcolor="#FDEDEC">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>