<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body bgcolor="#FDEDEC">
<div align="center">
    <h1 style="#A00000">Sign In</h1>
    <form action="#" th:action="@{/SignIn}" method="post" th:object="${credentials}">
        <label>E-mail:</label>
        <input type="text" th:field="*{username}" required/><br/>
        <br/>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required/><br/>
        <br/>
        <br/>
        <button type="submit">Sign In</button>
    </form>
    <br/>
</div>
</body>
</html>