<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body bgcolor="#FDEDEC">
<div align="center">
    <h1 style="#A00000">Sign Up To Start Discussing Today!</h1>
    <form action="#" th:action="@{/SignUp}" method="post" th:object="${signUpCredentials}">
        <label>Username:</label>
        <input type="text" th:field="*{username}" required/><br/>
        <br/>
        <label>Email:</label>
        <input type="email" th:field="*{email}" required/><br/>
        <br/>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required/><br/>
        <br/>
        <br/>
        <button type="submit">Sign Up</button>
    </form>
    <br/>
</div>
</body>
</html>